:root {
  --videocard-width: 28.125rem;
  --thumbnail-height: 15.8125rem;
  --videocard-details-height: 5rem;
}
.videocard {
  max-width: var(--videocard-width);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.vediocard__thumbnail {
  width: 100%;
}
.vediocard__thumbnail img {
  width: 100%;
  height: 100%;
}
.videocard__details {
  position: relative;
  height: var(--videocard-details-height);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.videocard__details__left {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videocard--creator-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.videocard--creator-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.videoCard__details__center {
  margin-left: 0.2rem;
  max-width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  color: #000;
}
.videocard--videoname {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.videocard--creatorname {
  font-size: 0.75rem;
}
.vedioCard__details__right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.vedioCard__details__right button {
  border: 0px solid transparent;
  border-radius: 100px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--- VideosGroupCard ---*/
.videos-group__card {
  border: 1px solid black;
  max-width: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2rem;
}
.videos-group__card a {
  text-decoration: none;
}
.videos-group__card__thumbnail {
  position: relative;
  height: 160px;
  width: 100%;
}
.videos-group__card--info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.videos-group__card__thumbnail img {
  width: 100%;
  height: 100%;
}
.videos-group__card__details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0.2rem;
}
.videos-group__card--name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 17px;
  font-weight: 600;
  font-size: 0.875rem;
}
.videos-group__card--videoCount {
  font-size: 0.75rem;
}
.videos-group__card__buttons {
  width: 100%;
  padding-right: 0.2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
